@model MiniSuperMarket.Models.Product

<div class="card" style="width:400px">
    <img class="card-img-top" src="@Model.Pimage" alt="Card image">
    <div class="card-body">
        <h4 class="card-title">@Model.Pname</h4>
        <p class="card-text">@Model.ProductDescription</p>
        <a href="#" class="btn btn-primary">@Model.price</a>
    </div>
</div>