@*@model MiniSuperMarket.Models.Product*@
@model IEnumerable<MiniSuperMarket.Models.Product>

<!-- Services Section -->
<section id="services">
    @{
        foreach (var item in Model)
        {
            <div class="card" style="width:400px">
                <img class="card-img-top" src="@item.Pimage" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">@item.Pname</h4>
                    <p class="card-text">@item.ProductDescription</p>
                    <a href="AboutProduct?id=@item.Pid"  >@item.price</a>
                </div>
            </div>
        }


    }




</section>

